/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
 /*begin custom CSS*/
 *{box-sizing: border-box}

body{
    background-color: #C4D8ED;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.2em;
    font-family: "hermes-fb", sans-serif;
    font-weight: 300;
}

h1{
    font-size: 40px;
    text-align: center;
    font-family: "blakely", sans-serif;
    letter-spacing: 2.5px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

h2{
    font-size: 16px;
    text-align: center;
    font-family: "hermes-fb", sans-serif;
}

h3{
    font-weight: bold;
    font-size: 24px;
    font-family: "hermes-fb", sans-serif;
}

a{
    font-family: "hermes-fb", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: #4b77a0;
}

header{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    align-items: center;
    padding-left: 25px;
}

footer a{
    color: white;
    margin-left: 5px;
}

footer a:visited{
    color: white;
}

footer p{
    color: white;
}

.title{
    margin-top: 125px;
    z-index: 2;
}

.left-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 302px;
    width: 251px;
    background-image: url('./assets/small-left.png');
    background-repeat: no-repeat;
}

.right-image{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 250px;
    background-image: url('./assets/small-right.png');
    background-repeat: no-repeat;
}

.divider{
    height: 50px;
    width: 100%;
    background-color: #202F3D
}

section{
    min-height: 200px;
}

section:nth-child(even){
    background-color: #E1F1FF;
    border-top: solid 1px #202F3D;
    border-bottom: solid 1px #202F3D;
}

.subsection{
    position: relative;
    display: flex;
}

.about-me{
    border-top: solid 0;
}

.profile-pic{
    position: absolute;
    top: -25px;
    left: 25px;
    height: 200px;
    width: 160px;
}

img{
    height: 100%;
    width: 100%;
}

.contact-buttons{
    width: 160px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 200px;
}

button{
    height: 50px;
    width: 50px;
    background-color: #E1F1FF;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(32,47,61,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(32,47,61,1);
    box-shadow: 0px 0px 5px 0px rgba(32,47,61,1);
    margin-left: 5px;
    margin-bottom: 25px;
}

.email{
    background-image: url('./assets/email.png');
}

.email:hover{
    background-image: url('./assets/email-active.png');
}

.github{
    background-image: url('./assets/github.png');
}

.github:hover{
    background-image: url('./assets/github-active.png');
}

.linkedin{
    background-image: url('./assets/linkedin.png');
}

.linkedin:hover{
    background-image: url('./assets/linkedin-active.png');
}

.contact{
    background-repeat: no-repeat;
    background-position: center;
}

.profile-body{
    display: flex;
    flex-direction: column-reverse;
}

.profile-info{
    margin: 25px;
}

.app-section{
    flex-direction: column-reverse;
    margin: 25px;
}

.app-image{
    margin-bottom: 25px;
}

.app-description{
    display: flex;
    flex-direction: column;
}

.app-stack{
    align-self: flex-end;
}

.money-jars-stack{
    width: 275px;
}

.something-new-stack{
    width: 150px;
}

footer{
    height: 50px;
    background-color:#202F3D;
    width: 100%;
}

@media only screen and (min-width: 350px){
    .money-jars-stack{
        width:300px;
    }
}

@media only screen and (min-width: 500px){
    header{
        height: 500px;
    }

    .left-image{
        top: 50px;
        left: 50px;
    }

    .right-image{
        bottom: 50px;
        right: 50px;
    }

    .title{
        margin-top: 175px;
    }

    h1{
        font-size: 50px;
    }

    .profile-body{
        flex-direction: row-reverse;
    }

    .something-new-image{
        height: 500px;
        width: 532px;
        margin-top: -75px;
        margin-right: 50px;
    }

    .money-jars-image{
        margin-left: 50px;
        width: 500px;
        height: 242px;
        align-self: flex-end;
    }

    footer{
        padding-left: 50px;
    }

 }

 @media only screen and (min-width: 900px){
    header{
        height: 630px;
    }

    .left-image{
        background-image: url('./assets/medium-left.png');
        height: 500px;
        width: 500px;
    }

    .right-image{
        background-image: url('./assets/medium-right.png');
        height: 501px;
        width: 550px;
    }

    .money-jars{
        flex-direction: row;
    }

    .something-new{
        flex-direction: row-reverse;
    }

    .family-reunion{
        flex-direction: row;
    }

    .app-section{
        margin: 50px;
        padding: 50px 25px 25px 25px;
    }

    .app-description{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 25px;
    }


    .title{
        margin-top: 250px;
    }

    h1{
        font-size: 72px;
    }
    
    h2{
        font-size: 22px;
    }

    .something-new-stack{
        padding-bottom: 50px;
    }

    .money-jars-image{
        align-self: flex-start;
    }

    .family-reunion-image{
        margin-left: 50px;
        height: 369px;
        width: 519px;
    }
 }

 @media only screen and (min-width: 1000px){
     .subsection{
         width: 980px;
         margin: 0 auto;
     }
 }

 @media only screen and (min-width: 1400px){
     header{
         height: 700px;
     }

     .left-image{
        height: 611px;
        width: 751px;
        background-image: url('./assets/large-left.png');
     }

     .right-image{
         height: 618px;
         width: 751px;
         background-image: url('./assets/large-right.png');
         right:0;
     }
 }